requests
bs4
datetime
Image
ImageGrab
matplotlib
pandas
mplfinance
pandas_datareader
altair
openpyxl
seaborn
matplotlib
japanize_matplotlib

qrcode
google-cloud-vision
google-oauth
rembg==2.0.37
numpy

sqlite3